<?xml version="1.0" encoding="utf-8"?>
<!--
  For more information on how to configure your ASP.NET application, please visit
  https://go.microsoft.com/fwlink/?LinkId=169433
  -->
<configuration>
  <system.web>
    <compilation debug="true" targetFramework="4.7.2" />
    <httpRuntime targetFramework="4.7.2" />
  </system.web>
  <appSettings>
    <add key="Triskell_API_Username" value="abacoInterface@abaco.consulting" />
    <add key="Triskell_API_Password" value="triskell2021" />
    
    <!--Método para efectuar login-->
    <!--<add key="Triskell_API_LoginJSON" value="https://sandbox-eu.triskellsoftware.com/triskell/service/rest/loginJson"/>-->
    <add key="Triskell_API_LoginJSON" value="https://ondemand.triskellsoftware.com/triskell/service/rest/loginJson"/>

    <!--Método para chamar reports-->
    <!--<add key="Triskell_API_GetReportDataToPanel" value="https://sandbox-eu.triskellsoftware.com/triskell/service/rest/proxy/operation/execute/ReportService/GetReportDataToPanel"/>-->
    <add key="Triskell_API_GetReportDataToPanel" value="https://ondemand.triskellsoftware.com/triskell/service/rest/proxy/operation/execute/ReportService/GetReportDataToPanel"/>
      
    <!--Nome da StoredSelector usada no GetApprovedTimesheetsByDateRange-->
    <add key="Triskell_API_StoredSelector_GetApprovedTimesheetsByDateRange" value="Timesheet All" />
  
  </appSettings>
  <system.codedom>
    <compilers>
      <compiler language="c#;cs;csharp" extension=".cs" type="Microsoft.CodeDom.Providers.DotNetCompilerPlatform.CSharpCodeProvider, Microsoft.CodeDom.Providers.DotNetCompilerPlatform, Version=2.0.1.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" warningLevel="4" compilerOptions="/langversion:default /nowarn:1659;1699;1701" />
      <compiler language="vb;vbs;visualbasic;vbscript" extension=".vb" type="Microsoft.CodeDom.Providers.DotNetCompilerPlatform.VBCodeProvider, Microsoft.CodeDom.Providers.DotNetCompilerPlatform, Version=2.0.1.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" warningLevel="4" compilerOptions="/langversion:default /nowarn:41008 /define:_MYTYPE=\&quot;Web\&quot; /optionInfer+" />
    </compilers>
  </system.codedom>
</configuration>