<?xml version="1.0" encoding="utf-8"?>
<!--
  For more information on how to configure your ASP.NET application, please visit
  https://go.microsoft.com/fwlink/?LinkId=169433
  -->
<configuration>
  <system.web>
    <compilation debug="true" targetFramework="4.7.2" />
    <httpRuntime targetFramework="4.7.2" />
  </system.web>
  <appSettings>
	<!--Dados acesso Produtivo-->
 <!--   <add key="Triskell_API_Username" value="abacoInterface@abaco.consulting" />
    <add key="Triskell_API_Password" value="triskell2021" />   -->
	  <!--Dados acesso Sandbox-->
	<add key="Triskell_API_Username" value="admin@abaco.test2" />
	<add key="Triskell_API_Password" value="Welcome1" />  
    
    <!-- ***************   Método para efectuar login  ******************** -->
	<!-- URL Login Produtivo -->
	  <!-- <add key="Triskell_API_LoginJSON" value="https://ondemand.triskellsoftware.com/triskell/service/rest/loginJson"/> -->
	<!-- URL Login Sandbox -->
	<add key="Triskell_API_LoginJSON" value="https://sandbox-eu.triskellsoftware.com/triskell/service/rest/loginJson"/>

	<!--Método para chamar reports-->
    <!--<add key="Triskell_API_GetReportDataToPanel" value="https://sandbox-eu.triskellsoftware.com/triskell/service/rest/proxy/operation/execute/ReportService/GetReportDataToPanel"/>-->
    <add key="Triskell_API_GetReportDataToPanel" value="https://ondemand.triskellsoftware.com/triskell/service/rest/proxy/operation/execute/ReportService/GetReportDataToPanel"/>
      
    <!--Nome da StoredSelector usada no GetApprovedTimesheetsByDateRange-->
    <add key="Triskell_API_StoredSelector_GetApprovedTimesheetsByDateRange" value="Timesheet All" />

	<!--Método para criar projetos-->
	<add key="Triskell_API_DataobjectCreate" value="https://sandbox-eu.triskellsoftware.com/triskell/service/rest/dataobject/create" />
  
  </appSettings>
</configuration>